#storyTextArea {
    height: 15rem;
    width: 80%;
    padding: .5rem;
    font-size: 18px;
}

#zipcodeInput {
    padding: .5rem;
    font-size: 15px;
}

#storyTextAreaDiv {
    margin: 1rem;
    padding-left: .5rem;
}

h3, label, #publishDiv, #zipcodeInputDiv {
    padding-left: 1rem;
}

h3 {
    color: darkslategray;
    text-shadow: .5px .5px gold;
}

button {
    color: darkslategray;
    font-weight: bold;
    background-color: gold;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    border-color: gold;
}