html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    width: 100%;
    height: auto;
    color: darkslategray;
    background-color: lightskyblue;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

.formRegister, .formLogin {
    background-color: #dbd5d5;
    width: 60%;
    height: 20rem;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: .5rem;
}

input {
    margin: .5rem;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  margin: 1rem;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}
