.nav-title {
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    color: gold;
    text-shadow: 2px 2px lightslategray;
    padding-top: .5rem;
}

.nav {
  /*overflow: hidden;*/
  background-color: lightskyblue;
  width: 100%;
  margin: 0;
}

.nav-link {
  float: left;
  color: gold;
  background-color: lightskyblue;
  text-align: center;
  padding: 0 .5rem .5rem 1rem;
  margin: 0 0 .5rem .5rem;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 2px 2px lightslategray;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  color: aliceblue;
}

.nav-link:focus {
  color: aliceblue;
}

.nav-right {
  float: right;
}

*::after {
  content:"";
  display: table;
  clear:both;
} 

